{
  "presets": [
    "react", 
    "env",
    "stage-3"
  ],
  "plugins": [
    "react-hot-loader/babel"
  ],
  "env": {
    "test": {
      "presets": [
        "env",
        "stage-3"
      ]
    }
  }
}
